
.title{
    padding-left: 20px;
    font-weight: 500;
    padding-top: 10px;
    
}
.list{
    padding: 15px;
    padding-left: 30px;
    list-style: square;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.item{
    color: #333333;
    display: block;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin-right: 14px;
}
.item:hover{
    transition-duration: 0.3s;
    color: purple;
    text-decoration: underline ;
}
.poster{
    width: 200px;
    height: 300px;
}
.btn{
    background-color: purple;
    border: none;
    color: snow;
    text-transform: uppercase;
    height: 300px;
    cursor: pointer;
}